<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/company" class="btn btn-info">List of comppany</a>
                  </li>
                  <li class="list-inline-item">
                    <a routerLink="/companysave" class="btn btn-info">Add Company</a>
                      </li>
  
                      <li class="list-inline-item">
                        <a routerLink="/edusave" class="btn btn-info">Add Education</a>
                          </li>
                            
                      <li class="list-inline-item">
                        <a routerLink="/individualsave" class="btn btn-info">Add Individual </a>
                          </li>
            </ul>
          </div>
        </div>